<% if @post.errors.any? %>
<% @post.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert"> <%= msg %> </div>
<% end %>
<% end %>
  <%= form_for @post, :html => {:class => 'mui-form'} do |f|  %>
      <div class="mui-textfield">
        <%= f.text_field(:title, {:placeholder => 'Title', :required => true}) %>
      </div>
      <div class="mui-textfield">
        <%= f.text_area(:body, {:placeholder => 'Body', :required => true}) %>
      </div>
      <div class="mui-textfield">
        <%= f.label :tag_list %><br />
        <%= f.text_field :tag_list %>
      </div>
      <p>
        <span><%= f.submit({:class => 'mui-btn mui-btn--primary'}) %></span>
          &nbsp;
        <span><%= link_to "Go Back To Posts", posts_path, {:class => 'mui-btn mui-btn--secondary'} %></span>
      </p>
  <% end %>
